@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* general reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* start layout */

.dashboard{
  position: relative;

  display: grid;
  grid-template-areas: 
  'sidebar nav'
  'sidebar main'
  ;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 60px 1fr;
  transition: all 250ms linear;
}

.dashboard.active{
  grid-template-columns: 250px 1fr;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  left: 0;
  height: 100dvh;
  background-color: green;
}

.navbar{
  grid-area: nav;
  background-color: red;
  position: sticky;
  top: 0;
}

.main{
  grid-area: main;
  min-height: 200dvh;
  background-color: blue;
}

/* end layout */